.LoginScreenMId {
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  //   padding: 70px 45px;
  border-top: 8px solid #222;
  background-color: black;
  padding-top: 10%;
  min-width: 100%;
}

.LoginScreenMId__section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid #222;
  background: 0 0;
}

.LoginScreenMId__Text {
  display: flex;
  flex-direction: column;
  margin: 7% 8% 10% 7%;
  font-size: 1.5rem;

  h3 {
    margin-top: 2%;
    font-weight: 400;
  }
}

.LoginScreenMId__tv {
  margin: 0 10% 5% 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 80%;

  img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    border: 0;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    top: 20%;
    left: 13%;
  }
}

.LoginScreenMId__sectionOffline {
  flex-direction: row-reverse;
}

.LoginScreenMId__offline {
  display: flex;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
  }
}

.LoginScreenMId__downloadBar {
  padding: 0% 0.75em;
  //   height: 10vh;
  //   padding: 0.5em 0.75em;
  position: absolute;
  left: 18%;
  bottom: 8%;
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 15em;
  box-shadow: 0 0 2em 0 #000;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: black;

  img {
    margin: 3% 1% 3% 0;
    height: 4.5rem;
  }
}

.LoginScreenMId__downloadBar::after {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 3em;
  height: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  //   display: block;
  //   border: 2px solid white;
  // background-image: url("../../../Photos/netflix-logo.png")
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif")
    center center no-repeat;
  content: "";
  background-size: 100%;
  //   -webkit-box-flex: 0;
  //   flex-grow: 0;
  //   flex-shrink: 0;
}

.LoginScreenMId__downloadBarText {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  font-weight: 200px;

  h5 {
    margin-top: 2%;
    color: #0071eb;
  }
}

.LoginScreenMId__global {
  margin: 5% 10% 5% 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 80%;

  img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    border: 0;
  }

  video {
    position: absolute;
    // width: 100%;
    // height: 100%;
    max-width: 63%;
    max-height: 54%;
    top: 10%;
    left: 19%;
  }
}

@media (max-width: 900px) {
  .LoginScreenMId__section {
    flex-direction: column;
  }

  .LoginScreenMId__Text {
    margin-bottom: 0%;
    align-items: center;
    text-align: center;
    font-size: 100%;
  }
}
